th {
    font-weight: bold;
    padding: 8px 6px !important;
    font-size: 15px;
    text-align: center !important;
}

td {
    text-align: center !important;
    padding: 6px !important;
}

.widthSet {
    width: 260px;
}

.twoBtn {
    width: 176px;
}

.oneBtn {
    width: 88px;
}

.indexClas {
    width: 60px;
}

.tooltip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    display: block;
}

.popUp {
    color: #1890ff;
    cursor: pointer;
}


/* .ant-table-expanded-row-fixed,
.ng-star-inserted {
    width: 100% !important;
} */